body {
  background: salmon;
}

.outer-container {
  width: 900px;
  height: 700px;
}

svg {
  background: salmon;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

circle {
  background: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
